<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand>Remote Sensors Gateway</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav>
          <b-nav-item>
            <router-link to="/">Devices</router-link>
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
    <router-view/>
  </div>

  <!-- <router-link to="/about">About</router-link> -->
</template>

<style>
</style>
