<template>
  <b-container class="app__container">
    <b-row>
      <b-col>
        <b-card-group deck>
          <b-card bg-variant="light"
                  v-for="item in devices"
                  v-bind:key="item.address"
                  :title="item.address"
                  :sub-title="item.small_address">

            <p class="card-text">Registered on: <strong>{{ item.timestamp }}</strong></p>
            <p class="card-text">Finished Registration: <strong>{{ item.registered }}</strong></p>
            <p class="card-text">Resources:</p>

            <b-list-group>
              <b-list-group-item
                v-for="resource in item.resources"
                v-bind:key="resource">{{ resource }}</b-list-group-item>
            </b-list-group>

            <b-card-body>
              <p class="card-text" v-if="item.streams && item.streams.length > 0">Streams:</p>
              <p class="card-text" v-else>No Streams found</p>
            </b-card-body>

            <b-list-group>
              <b-list-group-item
                v-for="stream in item.streams"
                v-bind:key="stream.transaction"
                >
                <strong>#{{ stream.transaction }}</strong> - {{ stream.method }} - {{ stream.uri.base }}</b-list-group-item>
            </b-list-group>

            <div slot="footer">
              <small class="text-muted">Last seen on <strong>{{ item.last_alive }}</strong></small>
            </div>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'DeviceCardDeck',
  computed: mapState({
    devices: state => state.devices,
  }),
  methods: {
    ...mapActions([
      'deviceInit',
    ]),
  },
  mounted: function() {
    this.$store.dispatch('devicesInit')
  },
}
</script>

<style scoped>
.app__container {
  padding-top: 30px;
}
</style>
