<template>
  <b-container class="app__container">
    <b-row>
      <b-col>
        <h2>Registered Devices</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <DeviceCardDeck></DeviceCardDeck>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import DeviceCardDeck from '@/components/DeviceCardDeck.vue'

export default {
  name: 'devices',
  components: {
    DeviceCardDeck,
  },
}
</script>

<style scoped>
  .app__container {
    padding-top: 30px;
  }
</style>
